:root
 body {
  background-color: #122044;
}
//colgroup #395bab
.bg {
  background-color: #2c3b5f;
}


.title {
  color: bisque;
text-decoration: none;
}

h1 {
    color: #C5D1ED;

  font-size: 48px;
  line-height: 48px;
  font-weight: bolder;
  letter-spacing: -0.025em;
 font-family: i;
}
h2,
h3 {
  color: #7A87A6;
}

img {
    position: absolute;
    left:700px;
    top: 220px;
   
}

.intro {
    position: absolute;
    left: 100px;
    top: 180px;
}

.nav-link,
.dropdown-item {
    color: white;
}

.icons {
  position: absolute;
  left: 100px;
  top: 350px;

}

i {
margin-right: 20px;
}

@media (max-width: 768px) {
  h1 {
    font-size: 48px;
   text-align: left;
  }

  h2 {
    font-size: 32px;
      text-align: left;
  }

  h3 {
    font-size: 28px;
      text-align: left;
  }
}